.DS_Store
femu/*.zip
# Ignore list for Eagle, a PCB layout tool

# Backup files
femu/*.s#?
femu/*.b#?
femu/*.l#?
femu/*.b$?
femu/*.s$?
femu/*.l$?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
femu/eagle.epf

# Autorouter files
femu/*.pro
femu/*.job

# CAM files
femu/*.$$$
femu/*.cmp
femu/*.ly2
femu/*.l15
femu/*.sol
femu/*.plc
femu/*.stc
femu/*.sts
femu/*.crc
femu/*.crs

femu/*.dri
femu/*.drl
femu/*.gpi
femu/*.pls
femu/*.ger
femu/*.gpi
femu/*.xln

femu/*.drd
femu/*.drd.*

femu/*.s#*
femu/*.b#*

femu/*.info

femu/*.eps

# file locks introduced since 7.x
femu/*.lck

# Blender 3d
*.blend1
